.container 
{
    max-width: 500 !important;
    margin: auto; 
    margin-top: 4%;
    font-family: sans-serif;
    letter-spacing: 0.5px;

}

.msg-header 
{
    border: 1px solid #ccc;
    width: 100%; 
    height: 5%;
    border-bottom: none;
    display: inline-block;
    background-color: 	#484848; /* choose a grey colour */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* .msg-header-emoji
{
    border-radius: 50%;
    width: 40px;
    margin-left: 10%;
    margin-top: 8px;
    float: left;
   
}  This was got rid of as the wireframes has no emoji/image in the header */

/* .msg-header-emoji .fa
{
    max-width: 100%;
    border-radius: 50%;
} */

.name 
{
    width: 120px;
    float: left;
    margin-top: 7px;
    margin-left: 0%;
}

.name h4 
{
    font-size: 30px;
    margin-left: 5px;
    color: #fff;

}

.back-button
{
    width: 50px;
    float: left;
    margin-top: 8px;
    margin-left: 5px;
    
}

.back-button .fas
{
    color: #D3D3D3; 
    cursor: pointer;
    margin-left: 5px; 
    
}

.header-icons
{
    width: 120px;
    float: right;
    margin-top: -3px;
    margin-right: -4px;
}

.header-icons .fas
{
    color: #D3D3D3; 
    cursor: pointer;
    margin: 10px; 
}

.chat-page
{
    padding: 0 0 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: 	#F0F0F0;
}

.msg-inbox 
{
    border: 1px solid #F0F0F0;
    overflow: hidden;
    padding-bottom: 5px; /* moving the text box underneath closer to the bottom */
}

.chats 
{
    padding: 30px 15px 0 25px;
     
}

.msg-page
{
    height: 500px;
    overflow-y: auto;


}

/* .robot-chats 
{
    overflow: hidden;
    margin: 26px 20px;

} */

.robot-chats-emoji .fas
{
    display: inline-block;
    width: 30px; 
    float: left; 
}

.robot-msg 
{
    display: inline-block;
    padding: 0 0 0 10px; 
    vertical-align: top; 
    width: 92%;
}

.robot-msg-inbox
{
    width: 57%;
}

.robot-msg-inbox p 
{
    background: #007bff none repeat scroll 0 0;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    margin: 0;
    padding: 5px 60px 5px 12px;
    width: 100%;
}

.user-chats 
{
    overflow: hidden;
    margin: 26px 20px;

}

.user-chats-msg p
{
    background: #007bff none repeat scroll 0 0;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.user-chats-msg 
{
    float: left;
    width: 46%;
    margin-left: 45%;
}

.user-chats-img .fas
{
    display: inline-block;
    width: 30px;
    float: right;
}

.msg-bottom 
{
    position: relative;
    height: 7%;
    background-color: #D3D3D3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
}

.input-group
{
    float: right;
    margin-top: 14px;
    margin-right: 15px; 
    outline: none !important; 
    border-radius: 20px;
    width: 93% !important; 
    background-color: grey;
}

.form-control
{
    border: none !important;
    border-radius: 20px !important;
    font-style: italic;
}

.input-group-text
{
    background: transparent !important;
    border: none !important;
    
}

.input-group .fas
{
    color: white;
    float: right;
    cursor: pointer;

}

.form-control:focus
{
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 20px;
    font-style: normal;
}
